* {
    margin:0;
    font-family:Arial;
    border:border-box;
}
.navbar {
    height:60px;
    background-color: #0F1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
} 

/* BOX 1 */
.nav-logo {
    height:50px;
    width:100px;
}
.logo {
    height:50px;
    width:100%;
    background-image:url("assets/amazon_logo.png");
    background-size:cover; 
}

/* Normalise */
.border {
    border:1.5px solid transparent;
}
.border:hover {
    border:1.5px solid white;
}

/* BOX 2 */
.add-first {
    color:#cccccc;
    font-size:0.85rem;
    margin-left:15px;
}
.add-sec {
    color:white;
    font-size:1rem;
    margin-left:3px;
}
.add-icon {
    display:flex;
    align-items:center;
}

/* BOX 3 */
.nav-search {
    display:flex;
    background-color:pink;
    width:620px;
    height:38px;
    border-radius:4px;
}
.search-select {
    background-color: #E6E6E6;
    color:#555555;
    width:50px;
    justify-content:space-evenly;
    text-align:center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;
}
.search-input {
    width:100%;
    font-size:1rem;
    border:none;
}
.search-icon {
    width:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
    background-color:rgb(238, 196, 104);
    color:#0f1111;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
.nav-search:hover {
   border:4px solid rgb(240, 218, 56); 
}

/* BOX 4 & 5*/
span {
    font-size:0.7rem;
}
.nav-need{
   font-size:0.85rem;
   font-weight:700;
}

/* BOX 6 */
.nav-cart i {
    font-size:30px;
}
.nav-cart {
    font-size:0.85rem;
    font-weight:700;
}

/* Panel Bar */
.panel-bar {
    height:40px;
    background-color:#232f3e;
    color:white;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}
.panel-ops p {
    display:inline;
    margin:15px;
}
.All {
    margin-left:11px;
}
.panel-ops {
    font-size:0.95rem;
}

/* Hero Section */
.hero-section {
    height:350px;
    background-image:url("assets/Hero_Sec_Img.jpg");
    background-size:cover;
    display:flex;
    align-items:flex-end;
    justify-content:center;
}
.hero-msg {
    background-color:white;
    color:black;
    width:90%;
    height:40px;
    font-size:0.95rem;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:30px;
}
.hero-msg a {
    color:#007185;
}

/* Shop Section */
.shop-section {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color:#e2e7e6;
}
.box {
    height:400px;
    width:23%;
    background-color:white;
    padding:20px 0px 15px;
    margin-top:15px;
}
.box-image {
    height:300px;
    background-size:cover;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box-content {
    margin-left:1rem;
    margin-right:1rem;
}

/* Footer */
footer {
    margin-top:15px;
}
.foot-panel {
    height:50px;
    background-color:#37475a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:0.85rem;
}
.foot-panel2 {
    height:350px;
    background-color:#222f3d;
    color:white;
    display:flex;
    justify-content:space-evenly;
}
ul a {
    display:block;
    font-size:0.85rem;
    margin-top:10px;
    color:#DDDDDD;
}
ul {
    margin-top:30px;
}
.foot-panel3 {
    height:70px;
    background-color:#222f3d;
    border-top:0.5px solid white;
    display:flex;
    justify-content:center;
    align-items:center;
}
.logo {
    height:50px;
    width:100px;
    background-image:url("assets/amazon_logo.png");
    background-size:cover;
}
.foot-panel4 {
    height:80px;
    color:white;
    background-color:#0f1111;
    text-align:center;
    font-size:0.7rem;
}
.pages {
    padding-top:15px;
}
.copyright {
    margin-top:5px;
}
a {
    margin-left:10px;
}